matplotlib
numpy
scipy
pandas
pyqtgraph
pyqt5
qtpy
pyvista
pyvistaqt
screeninfo
scikit-learn
imageio
mne
psutil
nibabel
darkdetect
spclustering
SpeechRecognition
torch
torchvision
torchaudio
torchviz
whisperx
mtcnn
llama-cpp-python
llama-cpp-agent
imblearn
isosplit6
tensorflow
openpyxl
mcculw
dpcpp-cpp-rt==2024.1 
mkl-dpcpp==2024.1